$color-primary: #1d81f7;
$color-warning: #f5a623;
$color-danger: #f04134;
$color-success: #32cd5f;
$color-base: #37393d;
$color-darker: #666666;
$color-dark: #999999;
$color-darkgray: #bbbbbb;
$color-gray: #cccccc;
$color-light: #dedfe0;
$color-lighter: #eeeeee;